### Configured by Ansible
###

auto lo
iface lo inet loopback
    address {{variables[ansible_hostname]["interfaces"]."lo".ipv4}}

auto eth0
iface eth0 inet dhcp

# uplinks
auto swp51
iface swp51

auto swp52
iface swp52

# bridge to hosts
auto swp1
iface swp1

auto swp2
iface swp2

