### Configured by Ansible
###

auto lo
iface lo inet loopback
    address {{variables[ansible_hostname]["interfaces"]["lo"].ipv4}}

auto eth0
iface eth0 inet dhcp

# uplinks
auto swp51
iface swp51

auto swp52
iface swp52

# bridge to hosts
auto swp1
iface swp1

auto swp2
iface swp2

auto br0
iface br0
 bridge-vlan-aware yes
 address {{variables[ansible_hostname]["interfaces"]["br0"].ipv4}}
 bridge-ports swp1 swp2
 bridge-pvid 1
 mstpctl-bpduguard swp1=yes swp2=yes
 address-virtual 00:00:5e:00:01:01 {{variables[ansible_hostname]["interfaces"]["br0"].gateway}}

