username cumulus nopassword
!
log file /var/log/quagga/quagga.log
!
interface swp51
 ipv6 nd ra-interval 10
 no ipv6 nd suppress-ra
!
interface swp52
 ipv6 nd ra-interval 10
 no ipv6 nd suppress-ra
!
router bgp {{variables[ansible_hostname]["bgp"].asn}}
 bgp router-id {{variables[ansible_hostname]["interfaces"]["lo"].ipv4|replace("/32", "")}}
 network {{variables[ansible_hostname]["interfaces"]["lo"].ipv4}}
 neighbor swp51 interface remote-as external
 neighbor swp52 interface remote-as external
!
line vty
!
