---
- name: restart quagga
  service:
    name: quagga
    state: restarted

- name: reload networking
  shell: "ifreload -a"

- name: reload quagga
  service:
    name: quagga
    state: reloaded

- name: reboot
  shell: "shutdown -r 0 now"

- name: reload sysctl files
  command: 'sysctl --system'
