### Configured by Ansible
###

auto lo
iface lo inet loopback

auto lo:0
iface lo:0 inet static
 address {{variables[ansible_hostname]["interfaces"]["lo"].ipv4}}

auto eth0
iface eth0 inet dhcp

auto eth1
iface eth1 inet manual

auto eth2
iface eth2 inet manual
